@import url("components/social.css");
@import url("components/page.css");
@import url("components/navbar.css");
@import url("components/footer.css");
@import url("layouts/profile.css");
@import url("components/box.css");
@import url("components/cards.css");

body {
  font-family: "Open Sans";
  color: #444;
  font-size: 16px;
}

a {
  text-decoration:  none;
  color: #E24E42;
}

h1 {
  font-family: Lobster;
  color: black;
  opacity: 0.7;
  font-size: 50px !important;
  font-weight: bold !important;
}

h2 {
  font-family: Lobster;
  color: black;
  opacity: 0.7;
  padding: 30px;
  font-size: 50px !important;
  font-weight: bold !important;
}

.padded-text {
  font-size: 20px;
  font-family: Open Sans;
  padding-bottom: 20px;
  padding-left: 150px;
  padding-right: 150px;
}


#profile {
  width: 200px;
  heigth: 200px;
  border-radius: 50%;
}

.wrapper-darkblue {
  background-color: #4967ad;
  position: sticky;
  top: 0;
  z-index: 100;
}

.wrapper-white {
  background-color: transparent;
}

.wrapper-grey {
  background-color: #F4F4F4;
}

.wrapper-grey h2 {
  font-family: Lobster;
  color: black;
  opacity: 0.7;
  padding: 50px;
  font-size: 40px !important;
  font-weight: bold !important;
}

.wrapper-white h2 {
  padding: 0px;
  padding-top: 20px;
}

.videocontainer {
  text-align: center;
}

.padded {
  padding-top: 20px;
  padding-bottom: 50px;
}

.btn-blue {
  background-color: #4967ad;
}

.wrapper-white h1 {
  font-family: Lobster;
  color: black;
  opacity: 0.7;
  padding: 50px;
  font-size: 50px !important;
  font-weight: bold !important;
}

#map {
  margin-top: 100px;
}



