
#sidebar {
  background-color: #424851;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 120px;
  text-align: center;
}

#page-content {
  margin-left: 80px;
}

#sidebar ul {
  display: block;
  list-style: none;
  padding-left: 0px;
}

#sidebar li {
    margin-top: 50px;
    margin-bottom: 50px;
}

#sidebar a {
  color: white;
  font-size: 30px;
}

#sidebar a:hover {
  color: #E24E42;
}

body {
  background: rgb(240,240,240);
  background-image: url("images/random_grey_variations.png");
  font-family: "Open Sans";
  color: #444;
  font-size: 16px;
}

#page-content h1 {
  font-size: 28px;
}

#page-content h2 {
  font-size: 24px;
}

#page-content h3 {
  font-size: 18px;
}

#page-content ul {
  list-style: none;
  padding-left: 0px;
}

a {
  text-decoration:  none;
  color: #E24E42;
}

#page-content a:hover {
  color: #E24E42;
}

#page-content li {
  display: inline-block;
  padding: 10px;
}

h2 {
  padding-bottom: 20px;
}

td {
  padding: 25px;
}

hr { width:100%; height:1px; background: #fff }

.social {
  color: #444;
}

.social:hover {
  color: #E24E42;
}

.social-icon {
  color: #444;
}

.social-icon:hover {
  color: #E24E42;
}

.box {
  background-color: white;
  margin: 0px auto;
  padding: 20px;
  width: 600px;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 5px 5px 0px rgb(220,220,220);
}

.box h2 {
  padding-bottom: 10px;
}

.textbox p {
  padding-left: 20px;
  padding-right: 20px;
}

.listed-table {
  text-align: left;
}

.listed-table h2 {
  text-align: center;
}

.quickfacts table {
  margin: 0px auto;
}

.smallimage {
  width: 150px;
  height 150px;
}

.imagelink {
  color: #444;
}

.imagelink:hover {
  color: #E24E42;
}

#profile {
  width: 200px;
  heigth: 200px;
  border-radius: 50%;
}


