@import url("components/sidebar.css");
@import url("components/page.css");
@import url("components/social.css");

body {
  background: rgb(240,240,240);
  background-image: url("images/random_grey_variations.png");
  font-family: "Open Sans";
  color: #444;
  font-size: 16px;
}

a {
  text-decoration:  none;
  color: #E24E42;
}

h2 {
  padding-bottom: 20px;
}

td {
  padding: 25px;
}

hr { width:100%; height:1px; background: #fff }

.box {
  background-color: white;
  margin: 0px auto;
  padding: 20px;
  width: 600px;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 5px 5px 0px rgb(220,220,220);
}

.box h2 {
  padding-bottom: 10px;
}

.textbox p {
  padding-left: 20px;
  padding-right: 20px;
}

.listed-table {
  text-align: left;
}

.listed-table h2 {
  text-align: center;
}

.quickfacts table {
  margin: 0px auto;
}

.smallimage {
  width: 150px;
  height 150px;
}

.imagelink {
  color: #444;
}

.imagelink:hover {
  color: #E24E42;
}

#profile {
  width: 200px;
  heigth: 200px;
  border-radius: 50%;
}


