.tabs {
  background: #4967ad;
  display: flex;
  padding: 10px 10px 0 10px;
}

.tabs a {
  font-size: 20px;
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  font-size: 17px;
  opacity: 0.8;
  margin-bottom: 0;
}
.tab {
  background: #5d81df;
  flex: 0 0 20%;
  text-align: center;
  padding: 20px 0;
}

.tab.active {
  background: white;
  color: black;
}
